@font-face {
    font-family: Pricedown;
    src: url(../assets/font/pricedownbl.otf);
}

html {
    overflow-y: hidden;
    height: 100%;
}

body {
    background-color: black;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
   
}


.titulo {
    font-family: Pricedown;
    color: white;
    font-size: 74px;
    text-align: center;
    background: -webkit-linear-gradient(90deg, #3E23CD 0%, #E702E7 100%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 5px transparent;
    
    position: absolute;
    top: 4rem;
    right: 0;
    left: 0;
    
}

.botoes-musica {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 5rem;
    align-items: center;
}

.paragrafo {
    font-family: Pricedown;
    color: #9819f4;
    font-size: 1.5rem;
    background: white;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
    
}

.botao-musica {
    border: 1px solid #9819f4;
    width: 100px;
    border-radius: 10px;
    font-family: Pricedown;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    transition: 0.3s background-color;
    cursor: pointer;
}

.botao-musica:hover {
    background-color: #9819f4;
    color: black;
}


.slider {
    height: 450px;
    margin: auto;
    position: relative;
    width: 90%;
    display: grid;
    place-items: center;
    
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(650px * 24);
    animation: scroll 80s linear infinite;
}

.slide-track:hover {
    animation-play-state: paused
}

@keyframes scroll {
    0% {
        transform: translateX(0);;
    }
    100% {
        transform: translateX(calc(-650px * 12));
    }
}

.slide {
    height: 365px;
    width: 650px;
    display: flex;
    align-items: center;
    padding: 0 50px;
    perspective: 100px;
}

img {
    width: 100%;
    transition: transform .5s;
}

img:hover {
    transform: translateZ(10px);
}




button {
    background-color: transparent;
    border: none;
}


.menu-jogos {
    display: flex;
    justify-content: center;
}

.menu-jogos__itens {
   
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    gap: 8px;
    
    
    
}

.jogo-botao {
    transition: transform .2s;
}

.jogo-botao:hover {
    transform: scale(1.2);
    cursor: pointer;
    
}
